html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.gallery-title {
  text-align: center;
}

.search-form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
}

input {
  width: 200px;
  height: 25px;
}

.btn {
  display: inline-block;
}
